.usp{
  padding: 30px 0;
  .heading {
    color: #333;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 15px !important;
    .underlineHeading {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      color: #ff4500;
      font-size: 16px;
  }
  .underlineHeading:before {
    content: "";
    background: #dedede;
    width: 90%;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
}
.underlineHeading:after {
  content: "";
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 50px;
  margin: 0 auto;
  right: 0;
}
.bigTxt {
  font-size: 30px;
  display: block;
  text-transform: capitalize;
}
}
 
    .item_img {
      background: #e9e9e9;
    padding: 10px;
    border-radius: 50%;
    min-height: 102px;
    text-align: center;
    width: 102px;
      img {
        margin: 0 auto;
        margin-top: 5px;
        display: inline-block;
        width: 90%;
        height: 90%;        
    }
  }

  h5 {
    margin-bottom: 5px !important;
    font-size: 16px;
    font-weight: 600;
}

}