.intro{padding-top: 30px;
  .heading {
    color: #333;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 15px !important;
    .underlineHeading {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      color: #ff4500;
      font-size: 16px;
  }
  .underlineHeading:before {
    content: "";
    background: #dedede;
    width: 90%;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
}
.underlineHeading:after {
  content: "";
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 50px;
  margin: 0 auto;
  right: 0;
}
.bigTxt {
  font-size: 30px;
  display: block;
  text-transform: capitalize;
  font-weight: 600;
}
}
.coreValues {
  float: left;
  width: 100%;
  margin-top: 15px;
  h4 {
    margin-bottom: 15px !important;    
}
  h6 {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    color: #5e5e5e;
}
button{
  background: #fff;
    border: 1px solid orangered;
    transition: 0.3s;
    font-weight: 700;
    text-align: center;
    padding: 7.5px 15px;
    color: #333;
    text-transform: capitalize;
    width: 100%;
}
}
}
@media (max-width: 768px) {
  .intro{padding-top: 15px}
}